// (Bluish) Grayscale colors

$white: #ffffff;
$gray-1: #fafaff;
$gray-2: #f5f5f8;
$gray-3: #eeeefe;
$gray-4: #e0e0f4;
$gray-5: #bdbdce;
$gray-6: #9e9eac;
$gray-7: #75759d;
$gray-8: #616172;
$gray-9: #424252;
$gray-10: #21212a;
$black: #0c0c0c;

// Primary Colors

$teal-1: #b2dfdb;
$teal-2: #4db6ac;
$teal-3: #009688;
$teal-4: #00796b;

$amber-1: #ffecb3;
$amber-2: #ffd54f;
$amber-3: #ffc107;
$amber-4: #ffa000;

$cyan-1: #80deea;
$cyan-2: #26c6da;
$cyan-3: #00acc1;
$cyan-4: #00838f;
