$transition-duration-xs: 0.1s;
$transition-duration-s: 0.2s;
$transition-duration-m: 0.4s;
$transition-duration-l: 0.6s;

$animation-duration-xs: 1s;
$animation-duration-s: 2s;
$animation-duration-m: 4s;
$animation-duration-l: 6s;

$box-shadow-default: 0 0 $space-xs $black;
