$space-2xs: 2px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;
$space-2xl: 40px;
$space-3xl: 48px;
$space-4xl: 56px;
$space-5xl: 64px;

$content-padding: $space-m;
$content-padding-tablet: $space-m $space-l;
